//placeholders
%input {
  background-color: transparent;
  font-size: 17px;
  padding: 10px 5px;
  border: none;
  font-family: font;
}

//styles
body {
  font-family: $font;
  color: $font-color;
  background-color: $bg;
  .searchbar {
    input {
      @extend %input;
      //placeholders to white, font family etc
    }
  }
}
