//placeholders

%content {
  background-color: $bg;
  min-height: 100vh;
}

%nav {
  margin-bottom: 50px;
  background-color: $poke-blue;
  li {
    width: 50%;
    a {
      display: block;
      text-align: center;
      font-family: $heading-font !important;
      color: $poke-yellow;
      padding: 15px;
      &:hover,
      &:focus,
      &.active {
        color: $poke-blue;
        background-color: $poke-yellow;
      }
    }
  }
}

%center-content {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

%input {
  background-color: transparent;
  font-size: 17px;
  padding: 7px 15px;
  border: none;
  font-family: font;
  margin: 30px 0;
  border: 1px solid $poke-blue;
}

%button {
  font-family: $heading-font !important;
  border: 1px solid $poke-blue;
  padding: 9px 15px;
  color: $poke-yellow;
  font-size: 15px;
  background-color: $poke-blue;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: $poke-blue;
    background-color: $poke-yellow;
  }
}
%table {
  display: inline-block;
  text-align: left;
  th,
  td {
    padding: 2px 5px;
  }
  margin-bottom: 20px;
}
%pokemon-data {
}

//styles

* {
  font-family: $main-font !important;
  color: $font-color;
}

body {
  .nav {
    @extend %nav;
  }
  .content {
    @extend %content;
  }
  .center-content {
    @extend %center-content;
  }
  h1,
  h2,
  h3 {
    font-family: $heading-font !important;
    text-align: center;
  }
  color: $font-color;
  background-color: $bg;
  .searchbar {
    @extend %center-content;
    input {
      @extend %input;
    }
  }
  button {
    @extend %button;
  }
  .pokemon-data {
    @extend %pokemon-data;
  }
  table {
    @extend %table;
  }
}
